:root {
    --black: #171717;
    --white: #fff;
    --bg-gradient: #051327, #000;
  }
  body {
    background: var(--black);
  }
  .container__space {
   background-image: linear-gradient(var(--bg-gradient));
   position: fixed;
   inset: 0; 
  }
  .space {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background: var(--white);
    box-shadow: var(--space-layer);
    left: 0;
    top: 0;
    opacity: 0.75;
    
    animation: moveStar var(--duration, 20s) linear infinite;
  }
  
  @keyframes moveStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }